@font-face {
  font-family: 'Gilroy';
  src: url('https://ryuzaki364.github.io/articlebbl/gilroy/Gilroy-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://ryuzaki364.github.io/articlebbl/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
