 @font-face {
      font-family: 'Gilroy Bold';
      src: url('/page/gilroy/Gilroy-Bold.woff') format('woff');   
    }

 @font-face {
      font-family: 'Gilroy ExtraBold';
      src: url('/page/gilroy/Gilroy-ExtraBold.woff') format('woff');   
    }	

@font-face {
      font-family: 'Gilroy Heavy';
      src: url('/page/gilroy/Gilroy-Heavy.woff') format('woff');   
    }	

@font-face {
      font-family: 'Gilroy Medium';
      src: url('/page/gilroy/Gilroy-Medium.woff') format('woff');   
    }	

@font-face {
      font-family: 'Gilroy Regular';
      src: url('/page/gilroy/Gilroy-Regular.woff') format('woff');   
    }	


@font-face {
      font-family: 'Gilroy SemiBold';
      src: url('/page/gilroy/Gilroy-SemiBold.woff') format('woff');   
    }	

